@font-face {
  font-family: "rogueland_slabbold";
  src: url("roguelandslabbold-1gzyj-webfont.woff2") format("woff2"),
    url("roguelandslabbold-1gzyj-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
